.containers {
    padding: 40px;
}

.tb-num {
    vertical-align: middle;
    width: 70px;
    text-align: center;
}

.tb-title {
    font-size: 1.6em;
}

.tb-content {
    font-size: 0.8em;
}

.tablefix {
	table-layout: fixed;
	width: 100%;
}

.tablefix td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@media (max-width: 991px) {
    .containers {
        padding: 20px;
    }
}