.ctc {
    height: 40px;
}

.ctc > a {
	width: 80px;
	height: 80px;
	background-color: #f3e6ff;
	display: inline-block;
	border-radius: 50%;
}

.ctc > a:hover {
	background-color: #420080;
	display: inline-block;
	border-radius: 50%;
}

.ctcig {
    width: 80px;
    height: 80px;
}

.dropdown-profile {
    width: 240px;
    margin-left: -180px;
}

.up-blank {
    margin-top: 3px;
}

.up-blank-x {
    margin-top: 6px;
}

.input-li {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-head {
    position: fixed;
    width: 100%;
    top: 0px;
}

@media (max-width: 991px) {
	.navbar-brand {
		padding-top: 0px;
	}
	
    .ctc {
       height: 40px;
    }

    .ctc > a {
        width: 40px;
        height: 40px;
        display: inline-block;
    }

    .ctc > a:hover {
        display: inline-block;
        border-radius: 50%;
    }

    .ctcig {
        width: 40px;
        height: 40px;
    }

    .dropdown-profile {
        width: 100%;
        margin-left: 0px;
    }
}