#password-btn-status {
    text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
    .freshing {
        font-size: 30px;
        width: 03%;
        height: 3%;
        animation-name: fresh-meat;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

@keyframes fresh-meat {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}